@font-face {
  font-family: 'neutraface titling';
  src: url("../fonts/neutraface/neutra2displaybold.ttf") format("truetype"); }
@font-face {
  font-family: 'neutraface';
  src: url("../fonts/neutraface/neutra2displaylight.ttf") format("truetype"); }
.sidebar-link {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: black; }
  .sidebar-link:hover, .sidebar-link:active, .sidebar-link:focus {
    color: #70ccc6;
    text-decoration: none; }
  .sidebar-link:visited {
    color: black; }

@font-face {
  font-family: 'neutraface titling';
  src: url("../fonts/neutraface/neutra2displaybold.ttf") format("truetype"); }
@font-face {
  font-family: 'neutraface';
  src: url("../fonts/neutraface/neutra2displaylight.ttf") format("truetype"); }
body {
  font-family: "neutraface", Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

p {
  text-align: justify; }

a {
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  color: #ffb347;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #ffcc99;
    text-decoration: none; }
  a:visited {
    color: #ffb347; }

.white {
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 18%;
  left: 30%; }
  .white:hover, .white:active, .white:focus {
    color: white;
    text-decoration: none; }
  .white:visited {
    color: white; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .white {
      bottom: 25%; } }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .white {
      bottom: 25%; } }

.centered {
  text-align: center; }

.bold {
  font-weight: 900; }

.section-headline {
  font-size: 4em; }

.fa-link,
.brand-link,
.foot-link,
.sidebar-link {
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  text-decoration: none;
  color: #333333; }
  .fa-link:hover, .fa-link:active, .fa-link:focus,
  .brand-link:hover,
  .brand-link:active,
  .brand-link:focus,
  .foot-link:hover,
  .foot-link:active,
  .foot-link:focus,
  .sidebar-link:hover,
  .sidebar-link:active,
  .sidebar-link:focus {
    color: #666666; }
  .fa-link:visited,
  .brand-link:visited,
  .foot-link:visited,
  .sidebar-link:visited {
    color: #333333; }

.press-title {
  color: white; }

.social-media {
  font-size: 1.25em;
  padding: 0 2%; }

.bottom-text {
  padding-bottom: 100px; }

.disclaimer {
  margin-top: 25px;
  font-weight: 700; }

.sidebar-menu {
  height: 100%;
  min-height: 500px;
  background: white; }
  @media all and (min-width: 1200px) {
    .sidebar-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 300px; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .sidebar-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 300px; } }
  .sidebar-menu .menu-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 5% auto; }
    @media all and (min-width: 768px) and (max-width: 991px) {
      .sidebar-menu .menu-img {
        margin: 1% auto; } }
    @media all and (min-width: 480px) and (max-width: 767px) {
      .sidebar-menu .menu-img {
        margin: 1% auto; } }
    @media all and (max-width: 479px) {
      .sidebar-menu .menu-img {
        margin: 1% auto; } }
  .sidebar-menu .menu-list {
    list-style-type: none;
    margin: 2.5% 12.5%;
    padding: 0; }
  .sidebar-menu .menu-item {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: "neutraface", Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 700;
    font-size: 1em !important; }
    @media all and (min-width: 768px) and (max-width: 991px) {
      .sidebar-menu .menu-item.bottom {
        visibility: hidden; } }
    @media all and (min-width: 480px) and (max-width: 767px) {
      .sidebar-menu .menu-item.bottom {
        visibility: hidden; } }
    @media all and (max-width: 479px) {
      .sidebar-menu .menu-item.bottom {
        visibility: hidden; } }
  .sidebar-menu .bottom-info {
    position: absolute;
    display: block;
    bottom: 0;
    width: 300px; }

@media all and (min-width: 1200px) {
  .main-box {
    height: auto;
    width: 70%; } }
@media all and (min-width: 992px) and (max-width: 1199px) {
  .main-box {
    height: auto;
    width: 70%; } }

.social-media-box {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10; }
  .social-media-box .social-media {
    display: none;
    list-style-type: none;
    margin: 0 1%;
    padding: 0; }
    .social-media-box .social-media:visible {
      display: inline;
      background: white; }
  .social-media-box .sm-link {
    display: inline; }
  .social-media-box .s-link {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    color: black; }
    .social-media-box .s-link:hover, .social-media-box .s-link:active, .social-media-box .s-link:focus {
      text-decoration: none;
      color: #ffcc99; }
  .social-media-box .social-media-button {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    color: #ffcc99;
    border: 2px solid #ffcc99;
    background: white; }
    .social-media-box .social-media-button:hover, .social-media-box .social-media-button:active, .social-media-box .social-media-button:focus {
      color: white;
      background: #ffcc99;
      border: 2px solid #ffcc99;
      text-decoration: none; }
    .social-media-box .social-media-button:visited {
      color: #ffcc99;
      border: 2px solid #ffcc99;
      background: white;
      text-decoration: none; }

.sidebar-menu {
  height: 100%;
  background: white; }
  @media all and (min-width: 1200px) {
    .sidebar-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 300px; } }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .sidebar-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 300px; } }
  .sidebar-menu .menu-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 5% auto; }
  .sidebar-menu .menu-list {
    list-style-type: none;
    font-weight: 700;
    margin: 2.5% 12.5%;
    padding: 0;
    font-family: "neutraface titling", Futura, "Trebuchet MS", Arial, sans-serif; }
    @media all and (min-width: 768px) and (max-width: 991px) {
      .sidebar-menu .menu-list {
        text-align: center; } }
    @media all and (min-width: 480px) and (max-width: 767px) {
      .sidebar-menu .menu-list {
        text-align: center; } }
    @media all and (max-width: 479px) {
      .sidebar-menu .menu-list {
        text-align: center; } }
  .sidebar-menu .menu-item {
    font-size: 1.75em;
    margin: 0;
    padding: 0;
    cursor: pointer; }

@media all and (min-width: 1200px) {
  .main-box {
    height: auto;
    width: 70%; } }
@media all and (min-width: 992px) and (max-width: 1199px) {
  .main-box {
    height: auto;
    width: 70%; } }

@keyframes cf3FadeInOut {
  0% {
    opacity: 1; }

  45% {
    opacity: 1; }

  55% {
    opacity: 0; }

  100% {
    opacity: 0; } }
#cf {
  position: relative;
  height: 500px;
  width: 300px;
  margin: 0 auto; }

#cf img {
  position: absolute;
  top: 25%;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#cf img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate; }

#cf2 {
  position: relative;
  height: 500px;
  width: 300px;
  margin: 0 auto; }

#cf2 img {
  position: absolute;
  top: 25%;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#cf2 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate; }

.left-marg {
  margin-left: 15%; }
  @media all and (min-width: 480px) and (max-width: 767px) {
    .left-marg {
      margin-left: 0; } }

.work-box {
  padding: 5%; }
  .work-box.bottom {
    padding-bottom: 10%; }

.circle {
  position: absolute;
  left: 45%;
  top: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 2px solid #ffb347;
  color: #333333;
  font-weight: 900; }

.circle-text {
  text-align: center;
  margin: 0;
  padding: 0; }

.work-descriptor {
  margin-top: 12.5%;
  text-transform: capitalize; }

.work-text {
  margin: 2% 5%; }

.bio-photo {
  width: 250px;
  height: auto;
  margin: 1% 10%; }

.bio-title, .bio-subtitle {
  font-weight: 900;
  margin: 1% 5%; }

.bio-paragraph {
  text-align: justify;
  margin: 1% 5%; }

.work-text {
  margin: 2% 5%; }

.bio-photo {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-photo {
  width: auto;
  height: 200px;
  display: block;
  margin: 0 auto; }

.bio-title {
  font-weight: 900;
  margin: 0 7.5% 1% 7.5%; }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .bio-title {
      margin: 0 15% 1% 15%; } }

.bio-subtitle {
  margin: 0 7.5%; }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .bio-subtitle {
      margin: 0 0 0 15%; } }

.bio-paragraph {
  text-align: justify;
  margin: 0 7.5%; }
  @media all and (min-width: 992px) and (max-width: 1199px) {
    .bio-paragraph {
      margin: 0 15%; } }
  .bio-paragraph.first {
    margin: 5% 5% 0 5%; }

.hiring {
  color: #ff949e;
  text-align: center; }

.questionBox {
  cursor: pointer;
  margin: 2.5% 0; }

.button-slide-up {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: #ffcc99;
  border: 2px solid #ffcc99;
  background: white; }
  .button-slide-up:hover, .button-slide-up:active, .button-slide-up:focus {
    color: white;
    background: #ffcc99;
    border: 2px solid #ffcc99;
    text-decoration: none; }
  .button-slide-up:visited {
    color: #ffcc99;
    border: 2px solid #ffcc99;
    background: white;
    text-decoration: none; }

.press-box {
  width: 150px;
  height: 150px;
  background: white;
  margin: 25% 0; }
  .press-box.bellini {
    background: #ffb347; }
  .press-box.yellow {
    background: #fff019; }
  .press-box.blue {
    background: #70ccc6; }
  .press-box.pink {
    background: #ff949e; }
  .press-box.gray {
    background: #666666; }
  .press-box.salmon {
    background: #fd885c; }

.press-title {
  padding: 5px;
  text-transform: uppercase; }

.first {
  margin-left: 10%; }

.press-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 2% 37.5%; }

.testimonial-box {
  width: 300px;
  height: 300px; }

.testimonial {
  font-weight: 700;
  font-size: 1.5em;
  text-align: center; }

.testimonial-title {
  font-weight: 700;
  font-size: 1.5em;
  color: #ffb347;
  font-style: italic;
  text-align: center; }

.placeholder {
  border: 5px solid black;
  display: block;
  margin: 5% auto; }
  .placeholder.wide {
    width: 300px;
    height: auto; }
  .placeholder.tall {
    width: auto;
    height: 300px; }

.client {
  font-family: "neutraface titling", Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center; }

.client-box {
  width: 250px;
  display: block;
  margin: 0 auto; }
  .client-box .client-list {
    padding: 0 15%;
    display: block;
    margin: 0 auto; }

.top-p {
  margin-top: 5%; }
