.questionBox{
  cursor: pointer;
  margin: 2.5% 0;
}

.button-slide-up {
  @include link-transition(500ms);
  color: $blue;
  border: 2px solid $blue;
  background: $white;
  &:hover, &:active, &:focus {
    color: $white;
    background: $blue;
    border: 2px solid $blue;
    text-decoration: none;
  }
  &:visited {
    color: $blue;
    border: 2px solid $blue;
    background: $white;
    text-decoration: none;
  }
}
