.sidebar-menu {
  height: 100%;
  background: $white;
  @include breakpoint(large){
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
  }
  @include breakpoint(desktop){
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
  }


  .menu-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 5% auto;
  }

  .menu-list {
    list-style-type: none;
    font-weight: 700;
    margin: 2.5% 12.5%;
    padding: 0;
    font-family: $mlc-bold;
    @include breakpoint(tablet){
      text-align: center;
    }
    @include breakpoint(mobile){
      text-align: center;
    }
    @include breakpoint(iphone){
      text-align: center;
    }
  }

  .menu-item {
    font-size: 1.75em;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

.main-box {
  @include breakpoint(large){
    height: auto;
    width: 70%;
  }
  @include breakpoint(desktop){
    height: auto;
    width: 70%;
  }
}



@keyframes cf3FadeInOut {
  0% {
  opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}

#cf {
  position:relative;
  height:500px;
  width:300px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  top: 25%;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}

@keyframes cf3FadeInOut {
  0% {
  opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}

#cf2 {
  position:relative;
  height:500px;
  width:300px;
  margin:0 auto;
}

#cf2 img {
  position:absolute;
  top: 25%;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf2 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}


