.press-box {
  width: 150px;
  height: 150px;
  background: $white;
  margin: 25% 0;
  &.bellini {
    background: $dk-bellini;
  }
  &.yellow {
    background: $dk-yellow;
  }
  &.blue {
    background: $dk-blue;
  }
  &.pink {
    background: $dk-pink;
  }
  &.gray {
    background: $md-gray;
  }
  &.salmon {
    background: $salmon;
  }


}


.press-title {
  padding: 10px;
  text-transform: uppercase;
}

.first {
  margin-left: 10%;
}


.press-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 2% 37.5%;;
}

.testimonial-box {
  width: 300px;
  height: 300px;
}

.testimonial {
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

// .testimonial {
//   font-weight: 700;
//   font-size: 1.5em;
//   text-align: center;
//   @include breakpoint(large){
//     text-align: left;
//     font-size: 2.5em;
//   }

//   &.right {
//     @include breakpoint(large){
//       text-align: right;
//       font-size: 2.5em;
//     }

//   }

// }

.testimonial-title {
  font-weight: 700;
  font-size: 1.5em;
  color: $dk-bellini;
  font-style: italic;
  text-align: center;
}