.sidebar-menu {
  height: 100%;
  min-height: 500px;
  background: $white;
  @include breakpoint(large){
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
  }
  @include breakpoint(desktop){
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
  }

  .menu-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 5% auto;
    @include breakpoint(tablet){
      margin: 1% auto;
    }
    @include breakpoint(mobile){
      margin: 1% auto;
    }
    @include breakpoint(iphone){
      margin: 1% auto;
    }
  }

  .menu-list {
    list-style-type: none;
    margin: 2.5% 12.5%;
    padding: 0;
  }

  .menu-item {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: $mlc-type;
    font-weight: 700;
    font-size: 1em !important;
    &.bottom {
      @include breakpoint(tablet){
        visibility: hidden;
      }
      @include breakpoint(mobile){
        visibility: hidden;
      }
      @include breakpoint(iphone){
       visibility: hidden;
      }
    }
  }

  .bottom-info{
    position: absolute;
    display: block;
    bottom: 0;
    width: 300px;
  }
}

.main-box {
  @include breakpoint(large){
    height: auto;
    width: 70%;
  }
  @include breakpoint(desktop){
    height: auto;
    width: 70%;
  }
}

.social-media-box {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10;

  .social-media {
    display: none;
    list-style-type: none;
    margin: 0 1%;
    padding: 0;
    &:visible {
      display: inline;
      background: $white;
    }
  }

  .sm-link {
    display: inline;
  }

  .s-link {
    @include link-transition(500ms);
    color: $black;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: $lt-bellini;
    }
  }

  .social-media-button {
    @include link-transition(500ms);
    color: $lt-bellini;
    border: 2px solid $lt-bellini;
    background: $white;
    &:hover, &:active, &:focus {
      color: $white;
      background: $lt-bellini;
      border: 2px solid $lt-bellini;
      text-decoration: none;
    }
    &:visited {
      color: $lt-bellini;
      border: 2px solid $lt-bellini;
      background: $white;
      text-decoration: none;
    }
  }
}


